body {
  text-align: center;
  background-color: whitesmoke;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: black;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

button{
  cursor: pointer;
  border: 1px solid #555;
  text-align: center;
  padding: 5px;
  margin-left: 8px; 
}

body.dark-theme {
  background-color: black;
  color: white;
}

body.dark-theme #level-title {
  color: #fef2bf; /* light color for dark theme */
}